.home-page {
  h1 {
    @include nice_font;
  }
  h2 {
    font-family: "Nexa Light";
    font-size: 23px;
  }
  .homepage-fish {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    .border {
      position: absolute;
      border-bottom: 1px solid #b38f13;
      top: 50%;
    }

    img {
      width: 128px;
      height: auto;
    }
    .image-wrapper {
      display: inline-block;
      background: #FFF;
      position: relative;
      padding: 0 35px;
    }
  }
}
.about-wrapper {
  padding: 0 0 100px 0;
}
@media all and (min-width: 1200px) {
  .about-wrapper {
    background: url(../images/home_about_bg.png) no-repeat 110% 50px;
  }
}
#gallery {
  background: url(../images/gallery_bg.jpg) no-repeat 0 0;
  background-size: cover;
  > .container {
    padding: 40px 0;
  }
  h2 {
    text-align: center;
    @include nice_font;
    padding-bottom: 25px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .image-wrapper img {
    width: 128px;
    height: auto;
  }
  .images-wrapper {
    clear: both;
  }
  .image {
    background-size: cover;
    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  .gallery-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    .border {
      position: absolute;
      border-bottom: 1px solid #b38f13;
      top: 50%;
    }
  }
}