.navbar-brand {
  height: auto;
  img {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .navbar-brand { padding-top: 32px; }
}

.navbar-default .navbar-nav {
  > li > a {
    color: #FFF;
    text-transform: uppercase;
    white-space: nowrap;
    &:hover, &:focus {
      color: #e62f0e;
    }
  }
}
.navbar-default {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .container {
    z-index: 6;
    position: relative;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
  z-index: 5;
}
@media all and (min-width: 768px) {
  .navbar-default .navbar-nav > li > a {
    line-height: 67px;
  }
  .nav {
    width: 95%;
    display: table;
    padding-left: 5%;
    li {
      float: none;
      display: table-cell;
      margin: auto;
      text-align: center;
    }
    .dropdown-menu li {
      display: block;
      text-align: left;
    }
  }
}
@media all and (min-width: 768px) {
  .navbar-collapse.col-md-7 {
    width: 58.33333333%;
  }
}